In [1]:
import pandas as pd
import csv

In [2]:
votes_1 = 'election_data_1.csv'
votes_2 = 'election_data_2.csv'

In [3]:
votes_1_df = pd.read_csv(votes_1)
#print(votes_1_df.loc[0,'Voter ID'])
#votes_1_df['Candidate'].unique()
#votes_1_df['Candidate'].value_counts()
#votes_1_df.columns
#votes_1_df.dtypes
votes_1_df.head()
#votes_1_df['Voter ID'].count()

   Voter ID      County Candidate
0   1405627      Harsaw    Vestal
1   1711723  Mershville    Vestal
2   1550639  Matterdawn    Vestal
3   1042621      Harsaw    Vestal
4   1583965  Matterdawn    Vestal

In [4]:
votes_2_df = pd.read_csv(votes_2)
#votes_2_df['Voter ID'].nunique()
#votes_2_df['Voter ID'].value_counts()
#votes_2_df.columns
#votes_2_df.dtypes
#votes_2_df['County'].unique()
#votes_2_df.head()
#votes_2_df.loc[votes_2_df['Voter ID'] == 17444633]
Total_vote_count = votes_2_df['Voter ID'].count()
print(Total_vote_count)

3521001

In [5]:
votes_2_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [6]:
#combined_votes = pd.merge(votes_1_df, votes_2_df, on='Voter ID', how='outer')
#combined_votes

In [7]:
grouped_candidates = votes_1_df.groupby(['Candidate'])
grouped_candidates.count()

           Voter ID  County
Candidate
Cordin        24090   24090
Seth          40150   40150
Torres       353320  353320
Vestal       385440  385440

In [8]:
Candidate_totals = pd.DataFrame(grouped_candidates['Voter ID'].count())
Candidate_totals

           Voter ID
Candidate
Cordin        24090
Seth          40150
Torres       353320
Vestal       385440

In [9]:
Candidate_totals.reset_index(inplace=True)
Candidate_totals

  Candidate  Voter ID
0    Cordin     24090
1      Seth     40150
2    Torres    353320
3    Vestal    385440

In [10]:
Winner_Vote_Count = Candidate_totals['Voter ID'].max()
Winner_index = Candidate_totals['Voter ID'].idxmax()
Winner = Candidate_totals.loc[Winner_index,'Candidate']
#print(Winner)
#print(Winner_index)
#print(Winner_Vote_Count)

In [13]:
Candidate_totals['Percente of Vote'] = (Candidate_totals['Voter ID'].shift(0) / Total_vote_count)*100
Candidate_totals

  Candidate  Voter ID  Percente of Vote
0    Cordin     24090          0.684180
1      Seth     40150          1.140301
2    Torres    353320         10.034646
3    Vestal    385440         10.946887

In [24]:
print('Election Results '+ '\n'
     'Total Votes ' + str(Total_vote_count) + '\n' +
      str(Candidate_totals)+ '\n' +
      'Winner ' + Winner)

Election Results
Total Votes 3521001
  Candidate  Voter ID  Percente of Vote
0    Cordin     24090          0.684180
1      Seth     40150          1.140301
2    Torres    353320         10.034646
3    Vestal    385440         10.946887
Winner Vestal