In [1]:
import csv
import pandas as pd

In [2]:
budget_data_1 = 'budget_data_1.csv'
budget_data_2 = 'budget_data_2.csv'

In [3]:
budget_data_1_df = pd.read_csv(budget_data_1)
budget_data_1_df.head()
#budget_data_1_df.dtypes

     Date  Revenue
0  Oct-12  1154293
1  Nov-12   885773
2  Dec-12  -448704
3  Jan-13   563679
4  Feb-13   555394

In [4]:
budget_data_2_df = pd.read_csv(budget_data_2)
budget_data_2_df.head()
#budget_data_2_df.dtypes

       Date  Revenue
0  Jan-2009   943690
1  Feb-2009  1062565
2  Mar-2009   210079
3  Apr-2009  -735286
4  May-2009   842933

In [5]:
#budget_data_2_df['Date'].count

In [6]:
budget_data_1_df['Monthly Change'] = budget_data_1_df['Revenue'].shift(0) - budget_data_1_df['Revenue'].shift(1)
#print(budget_data_1_df['Revenue'].shift(0))

budget_data_1_df.head()

     Date  Revenue  Monthly Change
0  Oct-12  1154293             NaN
1  Nov-12   885773       -268520.0
2  Dec-12  -448704      -1334477.0
3  Jan-13   563679       1012383.0
4  Feb-13   555394         -8285.0

In [7]:
Total_Revenue = budget_data_1_df['Revenue'].sum()
print('Total Revenue = '+ str(Total_Revenue))

Total Revenue = 18971412

In [8]:
Total_Months = budget_data_1_df['Date'].count()
print('Total Number of Months = ' + str(Total_Months))

Total Number of Months = 41

In [9]:
Mean_Revenue_Delta = budget_data_1_df['Monthly Change'].mean()
print('Average Revenue Change = ' + str(Mean_Revenue_Delta))

Average Revenue Change = -6758.975

In [10]:
Largest_Increase = budget_data_1_df['Monthly Change'].max()
Largest_Increase_index = budget_data_1_df['Monthly Change'].idxmax()
Date_Largest_increase = budget_data_1_df.loc[Largest_Increase_index,'Date']
#print(Largest_Increase)
#print(Date_Largest_increase)
print('The greatest increase in revenue (date and amount) over the entire period = '+ str(Date_Largest_increase)+' '+str(Largest_Increase))

The greatest increase in revenue (date and amount) over the entire period = Feb-16 1837235.0

In [13]:
Largest_decrease = budget_data_1_df['Monthly Change'].min()
Largest_decrease_index = budget_data_1_df['Monthly Change'].idxmin()
Date_Largest_decrease = budget_data_1_df.loc[Largest_decrease_index,'Date']
#print(Largest_decrease)
#print(Largest_decrease_index)
print('The greatest increase in revenue (date and amount) over the entire period = '+ str(Date_Largest_decrease)+' '+str(Largest_decrease))

The greatest increase in revenue (date and amount) over the entire period = Aug-14 -1779747.0